<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->     <!--<div>TODO write content</div>-->
<form>
    <div class="row justify-content-center mt-2"> 
        <div class="col-md-6">
            <div class="form-group mt-2">
        <h4>Chỉnh sửa thông tin cá nhân</h4>
    </div>
        </div>
    </div>
    <div class="row justify-content-center"> 
        <div class="col-md-6"> 
            <div class="form-group">
                <label for="Mã thành viên" class="font-weight-bold" >Mã thành viên:</label>
                <input type="number" id="MaTV" name="MaTV" class="form-control" placeholder="Mã thành viên" value="" disabled>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="form-group mt-2">
                <label for="name" class="font-weight-bold" >Họ tên:</label>
                <input type="text" id="name" name="name" class="form-control" placeholder="Họ tên" value="" disabled>
            </div>
        </div>
    </div>
    
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="form-group mt-2">
                <label for="email" class="font-weight-bold" >Email:</label>
                <input type="email" id="email" name="email" class="form-control" placeholder="Email" value="">
            </div>
        </div>
    </div>
    
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="form-group mt-2">
                <label for="phone" class="font-weight-bold" >Số điện thoại:</label>
                <input type="text" id="phone" name="phone" class="form-control" placeholder="Số điện thoại" value="">
            </div>
        </div>
    </div>
    
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="form-group mt-2">
                <label for="khoa" class="font-weight-bold" >Khoa:</label>
                <input type="text" id="khoa" name="khoa" class="form-control" placeholder="Khoa" value="">
            </div>
        </div>
    </div>
    
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="form-group mt-2">
                <label for="nganh" class="font-weight-bold" >Ngành:</label>
                <input type="text" id="nganh" name="nganh" class="form-control" placeholder="Ngành" value="">
            </div>
        </div>
    </div>
</form>

        <div class="row justify-content-end " >
    <div class="col-md-6 text-center"> <!-- Sử dụng lớp text-center để căn giữa nút -->
        <button class="btn btn-primary mt-4" style="margin-left:-145px;" type="button">Lưu thông tin</button>
    </div>
</div>
        <form>
            <div class="row justify-content-center mt-2"> 
        <div class="col-md-6">
            <div class="form-group mt-2">
        <h4>Đổi mật khẩu</h4>
            </div></div></div>
            <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="form-group">
                <label for="curPass" class="font-weight-bold" >Mật khẩu hiện tại:</label>
                    <input type="password" id="curPass" name="curPass" class="form-control" placeholder="Mật khẩu hiện tại" value="" toggle="false">
            </div>
        </div>
            </div>
            <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="form-group mt-2">
                <label for="newPass" class="font-weight-bold" >Mật khẩu mới:</label>
                <input type="password" id="newPass" name="newPass" class="form-control" placeholder="Mật khẩu mới" value="" >
            </div>
        </div></div>
            <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="form-group mt-2">
                <label for="rePass" class="font-weight-bold" >Nhập lại mật khẩu mới:</label>
                <input type="password" id="rePass" name="rePass" class="form-control" placeholder="Nhập lại mật khẩu mới" value="" >
            </div>
        </div> </div>       
        </form>   
         <div class="row justify-content-end pb-4" >
    <div class="col-md-6 text-center"> 
        <button class="btn btn-primary mt-4" style="margin-left:-145px;" type="button">Đổi mật khẩu</button>
    </div>
</div>

    
