<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->


<!--<div>TODO write content</div>-->
<form>
    <div class="row justify-content-start mt-2" style="margin-left:30px"> 
        <div class="col-md-6">
            <div class="form-group mt-2">
                <h4>Thiết bị đã đặt chỗ</h4>
            </div>
        </div>
    </div>
    <div class="container">    
    <table class="table table_bordered">
        <thead>
            <tr>
                <th>Mã thiết bị</th>
                <th>Tên thiết bị</th>
                <th>Thời gian đặt</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="item, loop : ${data1}">
                <td th:text="${item.MaTB}"></td>
                <td th:text="${item.TenTB}"></td>
            </tr>
        </tbody>
    </table>
    </div>    
</form>
<form>
    <div class="row justify-content-start mt-2" style="margin-left:30px"> 
        <div class="col-md-6">
            <div class="form-group mt-2">
                <h4>Thiết bị đang mượn</h4>
            </div>
        </div>
    </div>
    <div class="container">    
    <table class="table table_bordered">
        <thead>
            <tr>
                <th>Mã thiết bị</th>
                <th>Tên thiết bị</th>
                <th>Thời gian mượn</th>
                <th>Thời gian trả</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="number" id="MaTB" name="MaTB" class="form-control" placeholder="" value="" disabled></td>
                <td><input type="text" id="TenTB" name="TenTB" class="form-control" placeholder="" value="" disabled></td>
                <td>john@example.com</td>
                <td>Thời gian trả của John</td>
            </tr>
            <tr>
                <td>Mary</td>
                <td>Moe</td>
                <td>mary@example.com</td>
                <td>Thời gian trả của Mary</td>
            </tr>
            <tr>
                <td>July</td>
                <td>Dooley</td>
                <td>july@example.com</td>
                <td>Thời gian trả của July</td>
            </tr>
        </tbody>
<!--     <tbody>
            <tr th:each="item, loop : ${data1}">
                <td th:text="${item.MaTB}"></td>
                <td th:text="${item.TenTB}"></td>
            </tr>
        </tbody>-->
    </table>
    </div>    
</form>
